<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualize sua imagem de perfil</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/assets/profile_image.css"> 
</head>
<body>
    @include('partials/header')
    <div>
        <form id="dropzone" class="dropzone" id="dropzone" action="/users/profile_image/upload" method="post">
            <img class="dropzone-icon" src="/images/drop.png" />
            
            <span>Solte sua imagem de perfil aqui ou </span>
            <input id="profile_image" hidden type="file" name="profile_image" class="dropzone-input" />
            <p>
                <button class="without" type="submit">Continuar sem uma imagem de perfil</button>
            </p>
        </form>
        <div class="CenteredContainer">
            <button id="submitButton" class="submit">Continuar</button>
        </div>
    </div>
    @include('partials/footer')
</body>
<script src="http://localhost:8080/assets/drop.js"></script>
<script src="http://localhost:8080/assets/submitProfileImage.js"></script>
</html>