<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publique seu jogo</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/assets/publish_game.css"> 
</head>
<body>
    @include('partials/header')
    <div id="Container">
        <div class="StartContainer">
            <div class="Form">
                <h2 class="FormTitle">Publique seu jogo</h2>
                <div class="Row">

                    <div class="Column">
                        <label>Email</label>
                        <input value="{{email}}" disabled type="text">
                    </div>

                    <div class="Column">
                        <label>Username</label>
                        <input value="{{username}}"  disabled type="text">
                    </div>
                    <div class="Column">
                        <label style="margin-top: 10px;">Tipo</label>
                        <div class="select">
                            <select name="type">
                                <option value="play_in">Online</option>
                                <option value="play_out">Offline</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="Row">
                    <div class="Column">
                        <label>Nome do jogo</label>
                        <input id="game_name" name="game_name" type="text">
                    </div>

                    <div class="Column">
                        <label>Idade recomendada</label>
                        <div class="select">
                            <select>
                                <option>Livre</option>
                                <option>7 anos</option>
                                <option>12 anos</option>
                                <option>14 anos</option>
                                <option>16 anos</option>
                                <option>18 anos</option>
                            </select>
                        </div>
                    </div>

                    <div class="Column">
                        <label>Genero</label>
                        <div class="select">
                            <select id="genre_values">
                                @each(genre in genres)
                                <option value="{{genre.id}}">{{genre.name}}</option>
                                @end
                            </select>
                        </div>
                    </div>
                </div>
                <div style="width: 90%;" class="Column">
                    <label style="margin-top: 10px;">Descrição</label>
                    <textarea name="description" id="description"></textarea>
                </div>
                
                <div id="dropzone_img" class="dropzone" id="dropzone_image" action="/users/profile_image/upload" method="post">
                    <img style="display:none;" class="dropzone-icon" src="/images/drop.png" />
                    <i id="game_icon_img" class="fa-solid fa-upload fa-2xl"></i>
                    
                    <span id="drag_text_img">Solte a imagem do game aqui </span>
                    <input id="game_image" hidden type="file" name="game_image" class="dropzone-input" />
                    <p>
                        <button class="without" type="submit">Continuar sem uma imagem</button>
                    </p>
                </div>
                <div id="dropzone" class="dropzone" id="dropzone" action="/users/profile_image/upload" method="post">
                    <i id="game_icon" class="fa-solid fa-upload fa-2xl"></i>
                    
                    <span id="drag_text">Coloque o zip contendo os arquivos do seu jogo aqui</span>
                    <input id="game_content" hidden type="file" name="profile_image" class="dropzone-input" />
                </div>
                <div id="loader">
                    <div class="lds-dual-ring"></div>
                </div>
                <div class="CenteredContainer">
                    
                    <button id="submitButton" class="submit">
                        Continuar
                    </button>
                </div>
            </div>
        </div>
    </div>
    @include('partials/footer')
    @include('partials/api_loading_modal')
</body>
<script src="https://kit.fontawesome.com/91248aca6a.js" crossorigin="anonymous"></script>
<script src="http://localhost:8080/assets/submit_game.js"></script>
</html>